@font-face {
  font-family: "Figtree";
  src: url("./fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --bg-color: #f4d04e;
  --text-color: #111;
  --text-color-light: #6b6b6b;
  --font-style: figtree, sans-serif;
  --border-radius: 2rem;
  --font-style: "figtree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-style);
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  width: clamp(32.7rem, 90vw, 38.1rem);
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1.2rem 1.2rem 0 rgba(0, 0, 0, 1);
}

.card__img {
  aspect-ratio: 16/9; /* Resim oranını korur */
  width: 100%;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card__content {
  margin-top: 1.6rem;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.card__tag {
  font-size: 1.2rem;
  display: inline-block;
  align-self: flex-start;
  background-color: var(--bg-color);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: 800;
}

.card__date {
  font-size: 1.2rem;
  font-weight: 600;
}

.card__title {
  font-size: 2rem;
  font-weight: 800;
}

.card__title:hover,
.card__title:active {
  color: var(--bg-color);
}

.card__text {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color-light);
}

.card__author {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
}

.card__author img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.card__author-name {
  font-weight: 800;
}

/* Base (Mobile) font sizes */
.card__tag {
  font-size: 1.2rem; /* 12px */
}

.card__date {
  font-size: 1.2rem; /* 12px */
}

.card__title {
  font-size: 2rem; /* 20px */
}

.card__text {
  font-size: 1.4rem; /* 14px */
}

.card__author-name {
  font-size: 1.2rem; /* 12px */
}

/* Desktop font sizes (381px) */
@media (min-width: 381px) {
  .card__tag {
    font-size: 1.4rem; /* 14px */
  }

  .card__date {
    font-size: 1.4rem; /* 14px */
  }

  .card__title {
    font-size: 2.4rem; /* 24px */
  }

  .card__text {
    font-size: 1.6rem; /* 16px */
  }

  .card__author-name {
    font-size: 1.4rem; /* 14px */
  }
}
